= form_for [@project, @incident], html: { id: "#{action}-incident-form", class: "#{action}-incident-form", 'data-parsley-validate' => true, novalidate: true }, remote: true do |f|
  .modal{id: "#{action}-incident-modal"}
    .modal-background
    .modal-card
      %header.modal-card-head
        %p.modal-card-title= "Post Mortem #{action == 'new' ? 'anlegen' : 'bearbeiten'}"
        %a.delete{"aria-label" => "close"}
      %section.modal-card-body
        = render partial: 'form', locals: { f: f }
      %footer.modal-card-foot
        = f.submit 'Speichern', class: 'button is-primary'
        %button.button.cancel Abbrechen
