%a.column.is-12{href: project_incident_path(@project,incident), class: 'show-incident', id: "vertical_tile#{@incidents.index(incident)}"}
  .card
    .card-content
      .tile
        .tile.is-vertical.is-parent
          .tile.is-child
            %p.subtitle
              %strong Zeitraum
            %p="#{I18n.localize(incident.time_from, format: :datetimeshort)} - #{I18n.localize(incident.time_to, format: :datetimeshort)}"
        .tile.is-vertical.is-parent
          .tile.is-child
            %p.subtitle
              %strong= I18n.t 'incident.attribute.what_happened'
            %p{class: "what_happend_tile", id: "what_happened_tile#{@incidents.index(incident)}"}= incident.what_happened
        .tile.is-vertical.is-parent
          .tile.is-child
            %p.subtitle
              %strong= I18n.t 'incident.attribute.which_server'
            %p= incident.which_server
