.column.is-3
  .columns.is-multiline
    %a.column.is-full{href: project_performances_path(@project)}
      = render partial: 'dashboard_dash_card', locals: { icon_class: 'stopwatch 2x', value: "#{@performances.weighted_response_avg} ms", title: 'Antwortzeit' }
    %a.column.is-full{href: project_performances_path(@project)}
      = render partial: 'dashboard_dash_card', locals: { icon_class: 'times 2x', value: "#{(@performances.error_rates.inject(0, :+)/@performances.error_rates.length).round(2)} %", title: 'Fehlerrate' }
    %a.column.is-full{href: project_performances_path(@project)}
      = render partial: 'dashboard_dash_card', locals: { icon_class: 'signal 2x', value: (@performances.requests.inject(0, :+).to_f/@performances.requests.length).round(0), title: 'Requests' }

%a.column.is-9{href: project_performances_path(@project)}
  .card.chart-card
    .card-content
      #chartdiv.chartdiv
