.field
  = f.label :title, class: 'label'
  .control.has-icons-right
    = f.text_field :title, class: 'input', required: true, 'data-parsley-trigger' => 'focusout'
    .errors

.field
  = f.label :repo_name, class: 'label'
  .control.has-icons-right
    = f.text_field :repo_name, class: 'input', required: true, 'data-parsley-trigger' => 'focusout',
    'data-parsley-remote-options' => "{ \"type\": \"GET\", \"dataType\": \"JSON\", \"data\": \"token=JEqJifHLQ5qA2qvBCMlxsg&model=project&where_attribute=repo_name#{('&id=' + f.object.id.to_s) unless f.object.new_record?}\"}",
    'data-parsley-remote' => "/query/exists", "data-parsley-trigger-after-failure"=>"focusout", 'data-parsley-remote-validator'=>'isUnique', 'data-parsley-remote-message' => 'Das Attribut ist bereits vergeben.'
    .errors

.field
  = f.label :appsignal_id, class: 'label'
  .control.has-icons-right
    = f.text_field :appsignal_id, class: 'input', 'data-parsley-required' => false, 'data-parsley-trigger' => 'focusout',
    'data-parsley-remote-options' => "{ \"type\": \"GET\", \"dataType\": \"JSON\", \"data\": \"token=JEqJifHLQ5qA2qvBCMlxsg&model=project&where_attribute=appsignal_id#{('&id=' + f.object.id.to_s) unless f.object.new_record?}\"}",
    'data-parsley-remote' => "/query/exists", "data-parsley-trigger-after-failure"=>"focusout", 'data-parsley-remote-validator'=>'isUnique', 'data-parsley-remote-message' => 'Das Attribut ist bereits vergeben.'
    .errors

.field
  = f.label :customer, class: 'label'
  .control.has-icons-right
    = f.text_field :customer, class: 'input', required: true, 'data-parsley-trigger' => 'focusout',
    'data-parsley-pattern' => '^(Herr|Frau).*', 'data-parsley-pattern-message' => "Bitte geben sie einen Namenszusatz \'Herr/Frau\' an."
    .errors

.field
  = f.label :email, class: 'label'
  .control.has-icons-right
    = f.text_field :email, class: 'input', required: true, type: 'email', 'data-parsley-trigger' => 'focusout'
    .errors
