.projects-list
  - @projects.in_groups_of(2).each do |group|
    .columns
      - group.each do |project|
        .column.is-half
          - if project.present?
            .card.project-card
              %header.card-header
                %p.card-header-title= project.title
              .card-content.is-hidden-small
                .content
                  %table
                    %tr
                      %td
                        %strong Techn. Name:
                      %td= project.repo_name
                    %tr
                      %td
                        %strong Kunde:
                      %td= project.customer
                    %tr
                      %td
                        %strong Email:
                      %td= project.email
                    %tr
                      %td
                        %strong Appsignal:
                      %td= project.appsignal_id
              %footer.card-footer.is-hidden-small.buttons
                %a.card-footer-item.show-project{href: project_path(project)} Anzeigen
                %a.card-footer-item.edit-project.modal-button{'data-target' => "#edit-project-modal--#{project.id}"} Bearbeiten
                = link_to 'Löschen', project_path(project), class: 'card-footer-item', data: { confirm: 'Möchten Sie das Projekt löschen?' }, method: :delete, remote: true
              %footer.card-footer.only-small.buttons
                %a.card-footer-item.show-project{href: project_path(project)}
                  %span.icon
                    %i= fa_icon 'eye is-small'
                %a.card-footer-item.edit-project.modal-button{'data-target' => "#edit-project-modal--#{project.id}"}
                  %span.icon
                    %i= fa_icon 'edit is-small'
                = link_to project_path(project), class: 'card-footer-item', data: { confirm: 'Möchten Sie das Projekt löschen?' }, method: :delete, remote: true do
                  %span.icon
                    %i=fa_icon 'trash is-small'

              = render partial: 'edit_project_modal', locals: { project: project }
