.section
  .level
    .level-left
      .level-item
        .title Sicherheit

  .card
    .card-content
      .subtitle Sicherheitslücken
      %table.table.is-fullwidth
        %thead
          %tr
            %th Gem
            %th Version
            %th CVE-ID
            %th Aufgetreten am
            %th Behoben am
        %tbody
          -@code_cares.each do |code_care|
            %tr
              %td= code_care.name
              %td= code_care.version
              %td= code_care.advisory_id
              %td= l(code_care.startdate)
              %td
                -if code_care.enddate != nil
                  =l(code_care.enddate)
                -else
                  = "---"
