%aside.menu.is-fullwidth
  %ul.menu-list.is-fullwidth
    %p.menu-label Hosting Reporter
    %li
      %a{href: root_path, class: "#{'is-active' if params[:controller] == 'projects' && params[:action] == 'index'}"}
        %span Projektübersicht

  - if @project.present? && @project.id.present?
    %p.menu-label.project-title
      = @project.title
    %ul.menu-list.is-fullwidth
      %li
        = link_to project_path(@project), class: "dashboard-tab #{'is-active' if params[:controller] == 'projects'}" do
          %span.icon
            %i= fa_icon 'desktop'
          %span Dashboard
      %li
        = link_to project_incidents_path(@project), class: "incidents-tab #{'is-active' if params[:controller] == 'incidents'}", data: { turbolinks: false } do
          %span.icon
            %i= fa_icon 'exclamation-triangle'
          %span Incidents
      %li
        = link_to project_performances_path(@project), class: "performances-tab #{'is-active' if params[:controller] == 'performances'}" do
          %span.icon
            %i= fa_icon 'chart-area'
          %span Performance
      %li
        = link_to project_securities_path(@project), class: "securities-tab #{'is-active' if params[:controller] == 'securities'}" do
          %span.icon
            %i= fa_icon 'lock'
          %span Sicherheit
      %li
        = link_to project_reports_path(@project), class: "reports-tab #{'is-active' if params[:controller] == 'reports'}", data: { turbolinks: false } do
          %span.icon
            %i= fa_icon 'list'
          %span Reports

  %p.menu-label
    Sonstiges
  %ul.menu-list
    %li
      %a.help-button Hilfe
