.section
  .level
    .level-left
      .level-item
        .title Performance

  .columns.is-multiline
    .column.is-12
      .card
        .card-content
          #chartdiv.chart-canvas
    .column.is-4
      .card
        .card-content
          .tile.is-vertical.is-parent
            .tile.is-child
              %p.subtitle
                %strong Ø Antwortzeit
              %p= "#{@performances.weighted_response_avg} ms"
    .column.is-4
      .card
        .card-content
          .tile.is-vertical.is-parent
            .tile.is-child
              %p.subtitle
                %strong Ø Fehlerrate
              %p= "#{(@performances.error_rates.inject(0, :+)/@performances.error_rates.length).round(2)} %"
    .column.is-4
      .card
        .card-content
          .tile.is-vertical.is-parent
            .tile.is-child
              %p.subtitle
                %strong Ø Requests
              %p= (@performances.requests.inject(0, :+).to_f/@performances.requests.length).round(0)
    .column.is-12.performance-details
      .card
        .card-content
          .subtitle Performance Daten
          %table.table.is-fullwidth.extended-performance-details
            %thead
              %tr
                %th Datum
                %th.has-text-right Fehlerrate
                %th.has-text-right Antwortzeit
                %th.has-text-right Requests
            %tbody
              -@performances.performances.each do |performance|
                %tr
                  %td= "#{I18n.localize(performance.date, format: :short)}"
                  %td.has-text-right= performance.error_rate.to_s + " %"
                  %td.has-text-right= performance.response_time.to_s + " ms"
                  %td.has-text-right= performance.requests.to_s
