.o-page.o-page--cover
  .o-page__document-title
    Hosting-Report
    .o-page__document-subtitle= "#{@project.title}, #{I18n.localize(@report.month, format: :monthyear)}"

  .o-page__section
    .o-layout
      .o-layout__item.u-1_2.c-data-list.c-data-list--big
        .c-data-list__head Verfügbarkeit im Monatsmittel
        .c-data-list__body.u-tnum #{@report.availability.round(2)}&#8239;%
      .o-layout__item.u-1_2.c-data-list.c-data-list--big
        .c-data-list__head Störungen
        .c-data-list__body.tnum= @report.incidents.count
    .o-layout
      .o-layout__item.u-1_2.c-data-list.c-data-list--big
        .c-data-list__head Code Care Fixes
        .c-data-list__body.tnum= @report.monthly_code_cares.count
      .o-layout__item.u-1_2.c-data-list.c-data-list--big
        .c-data-list__head Ops Care Fixes
        .c-data-list__body.tnum 4

-if !@report.incidents.try(:empty?)
  .o-page
    .o-page__title Störungen

    - @report.incidents.where.not(time_to: nil).each do |incident|
      %section.o-page__section
        -if incident.time_from.beginning_of_day == incident.time_to.beginning_of_day
          .o-page__section__title.u-pnum
            Beeinträchtigte Verfügbarkeit
            .o-page__section__subtitle
              = "#{I18n.localize(incident.time_from, format: :dateshort)} von #{I18n.localize(incident.time_from, format: :short)} Uhr bis  #{I18n.localize(incident.time_to, format: :short)} Uhr"
        -else
          .o-page__section__title.u-pnum
            Beeinträchtigte Verfügbarkeit
            .o-page__section__subtitle
              = "#{I18n.localize(incident.time_from, format: :datetimeshortum)} Uhr bis #{I18n.localize(incident.time_to, format: :datetimeshortum)} Uhr"

        .o-layout
          .o-layout__item.u-1_2.c-data-list
            .d-data-list__head= I18n.t 'activerecord.attributes.incident.what_happened'
            .d-data-list__body= incident.what_happened

          .o-layout__item.u-1_2.c-data-list
            .d-data-list__head= I18n.t 'activerecord.attributes.incident.which_server'
            .d-data-list__body= incident.which_server

        .o-layout
          .o-layout__item.u-1_2.c-data-list
            .d-data-list__head= I18n.t 'activerecord.attributes.incident.realized_error'
            .d-data-list__body= incident.realized_error

          .o-layout__item.u-1_2.c-data-list
            .d-data-list__head= I18n.t 'activerecord.attributes.incident.solution'
            .d-data-list__body= incident.impacts

        .o-layout
          .o-layout__item.u-1_2.c-data-list
            .d-data-list__head= I18n.t 'activerecord.attributes.incident.impacts'
            .d-data-list__body= incident.solution

          .o-layout__item.u-1_2.c-data-list
            .d-data-list__head= I18n.t 'activerecord.attributes.incident.future_approach'
            .d-data-list__body= incident.future_approach


.o-page
  .o-page__title Performance

  %section.o-page__section
    #chartdiv.chartdiv

  %section.o-page__section
    .o-layout
      .o-layout__item.u-1_2.d-data-list.d-data-list--big
        .d-data-list__head Ø Antwortzeit
        .d-data-list__body.u-tnum= "#{@performances.weighted_response_avg} ms"
      .o-layout__item.u-1_2.d-data-list.d-data-list--big
        .d-data-list__head Ø Fehlerrate
        .d-data-list__body.tnum= "#{(@performances.error_rates.inject(0, :+)/@performances.error_rates.length).round(2)} %"
    .o-layout
      .o-layout__item.u-1_2.d-data-list.d-data-list--big
        .d-data-list__head Ø Requests
        .d-data-list__body.tnum= (@performances.requests.inject(0, :+).to_f/@performances.requests.length).round(0)
      .o-layout__item.u-1_2.d-data-list.d-data-list--big
        .d-data-list__head Absolute Fehleranzahl
        .d-data-list__body.tnum= @performances.errors.inject(0, :+)

-if !@report.monthly_code_cares.try(:empty?) #hier noch && opscare hinzufügen, dafür im model eine methode
  .o-page
    .o-page__title Sicherheit

    -if !@report.monthly_code_cares.try(:empty?)
      %section.o-page__section
        .o-page__section__title
          CodeCare
          .o-page__section__subtitle Vielleicht hier eine kurze Erklärung hin, was das eigentlich ist und was wir im Rahmen von Code und Ops Care eigentlich machen?
        .c-data-table.c-data-table--five
          .c-data-table__head
            .c-data-table__cell Gem
            .c-data-table__cell Version
            .c-data-table__cell CVE-ID
            .c-data-table__cell gemeldet am
            .c-data-table__cell behoben am

          - @report.monthly_code_cares.each do |code_care|
            .c-data-table__body
              .c-data-table__cell=code_care.name
              .c-data-table__cell=code_care.version
              .c-data-table__cell=code_care.advisory_id
              .c-data-table__cell=l(code_care.startdate)
              .c-data-table__cell=l(code_care.enddate)
